doctype html
html
  head
    style
      include style.css
    title='Logowanie'
  body
    div.login
      img.log-pug(src='/sniper.jpg')
      a(href="/auth/google")
        button.log-button(type="button") Login
