doctype html
html
  head
    style
      include style-logged.css
    title='Zalogowano'
  body
    div.header
      img.header(src='/bed.jpg')
      h2.welcome welcome my friend #{user.displayName}
    div.links More about me:
      ul.linksList
        li
          a(href="https://pugjs.org/api/getting-started.html") PugJS
        li
          a(href="https://en.wikipedia.org/wiki/Pug") Pug breed
